html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: map-get($colors, 'background-color');
  font-family: $global-font-family;
  line-height: 1.5;
}

p,
li,
h1,
h2,
h3,
h4 {
  hyphens: auto;
  overflow-wrap: break-word;
}

li {
  list-style: none;
}
