@use '../abstract/variables';
@use 'sass:map';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: map.get(variables.$colors, 'background-color');
  font-family: variables.$global-font-family;
  line-height: 1.5;
}

p,
li,
h1,
h2,
h3,
h4 {
  hyphens: auto;
  overflow-wrap: break-word;
}

li {
  list-style: none;
}

a {
  text-decoration-style: dashed;
  text-underline-offset: variables.$global-border-radius;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

img {
  height: auto;
  max-width: 100%;
}
