/* =====================================================
  * * Colors
   ===================================================== */

$colors: (
  'background-color': #fafafa,
  'primary-color': #0b0a0a,
  'secondary-color': #3e3e42,
  'tertiary-color': #eceeef,
  'basic-color': #fff,
  'first-product-color': #086059,
  'first-product-background': #a6fff8,
  'second-product-color': #a2400c,
  'second-product-background': #fddac8,
  'error-color': #e30909,
);

/* =====================================================
  * * Typography
   ===================================================== */

$global-font-family: 'Poppins', sans-serif;

$font-weight: (
  'regular': 400,
  'medium': 500,
  'semi-bold': 600,
  'bold': 700,
);

/* =====================================================
  * * Measures
   ===================================================== */

$global-border-radius: 3px;

/* =====================================================
  * * Transition
   ===================================================== */

$transition-duration-exit: 205ms;
